// 全局设定。包括颜色、按钮大小等



// 主题色
$main: #50c9d2 !default;

// 全局色彩定义
$white: #fff !default;
$black: #000 !default;
$blue: #79beff !default;
$pink: #d63384 !default;
$red: #e22a3d !default;
$orange: #e78230 !default;
$yellow: #e3cb2e !default;
$green: #6be330 !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$brand-color: #1890ff;
$selected-color: #e6f7ff;
$disabled-selected-color: $gray-500;
$hover-color: #40a9ff;
$normal-color: #1890ff;
$click-color: #096dd9;
$font-color: $gray-600;

$primary: $main !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $green !default;
$warning: $orange !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
  'custom': $blue,
);

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !default;
$font-family-base: $font-family-sans-serif !default;

// -------------------------字体设置-------------------------
$font-size-base: 14px !default; // Assumes the browser default, typically `16px`
$font-size-lg: 16px !default;
$font-size-sm: 12px !default;
$font-size-root: null !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: bold !default;
$font-weight-bolder: bolder !default;
$font-weight-base: $font-weight-normal !default;

$height-base: 32px !default;
$height-lg: 40px !default;
$height-sm: 24px !default;

$line-height-base: 22px !default;
$line-height-lg: 24px !default;
$line-height-sm: 20px !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

$translate-xs: 6px;
$translate-ms: 10px;
$translate-md: 16px;
$translate-lg: 22px;

$border-width: 1px !default;

$border-color-base: $gray-200 !default;
$border-color: $gray-300 !default;

$border-radius: 6px !default;
$border-radius-lg: 8px !default;
$border-radius-sm: 2px !default;

$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075) !default;
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15) !default;
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175) !default;
$box-shadow-inset: inset 0 1px 2px rgba($black, 0.075) !default;

$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

$body-bg: $white !default;
$body-color: $gray-900 !default;
$body-text-align: null !default;

// -------------------------组件的通用样式 -------------------------
$spacer: 1rem !default;
$paragraph-margin-bottom: 1rem !default;

// 字体
$headings-margin-bottom: calc($spacer / 2) !default;
$headings-font-family: null !default;
$headings-font-style: null !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.2 !default;
$headings-color: null !default;

$small-font-size: 0.875em !default;
$sub-sup-font-size: 0.75em !default;
$text-muted: $gray-600 !default;

$hr-color: inherit !default;
$hr-height: 1px !default;
$hr-opacity: 0.25 !default;

$legend-margin-bottom: 0.5rem !default;
$legend-font-size: 1.5rem !default;
$legend-font-weight: null !default;

$mark-padding: 0.2em !default;

$dt-font-weight: $font-weight-bold !default;

$mark-bg: #fcf8e3 !default;

$hr-margin-y: $spacer !default;

// 🟡 Code  (_reboot.scss)

$code-font-size: $small-font-size !default;
$code-color: $pink !default;
$pre-color: null !default;

// options 可配置选项  (_reboot.scss)
$enable-pointer-cursor-for-buttons: true !default;

// -------------------------按钮基本属性-------------------------
$btn-font-weight: 400;
$btn-padding-y: 0.375rem !default;
$btn-padding-x: 0.75rem !default;
$btn-font-family: $font-family-base !default;
$btn-font-size: $font-size-base !default;
$btn-line-height: $line-height-base !default;

//不同大小按钮的 padding 和 font size
$btn-padding-y-sm: 0.25rem !default;
$btn-padding-x-sm: 0.5rem !default;
$btn-font-size-sm: $font-size-sm !default;

$btn-padding-y-middle: 0.375rem !default;
$btn-padding-x-middle: 0.75rem !default;
$btn-font-size-middle: $font-size-base !default;

$btn-padding-y-lg: 0.5rem !default;
$btn-padding-x-lg: 1rem !default;
$btn-font-size-lg: $font-size-lg !default;

// 边框
$btn-border-width: $border-width !default;

// 其他
$btn-box-shadow: inset 0 1px 0 rgba($white, 0.15), 0 1px 1px rgba($black, 0.075) !default;
$btn-disabled-opacity: 0.65 !default;

// 链接按钮
$btn-link-color: $link-color !default;
$btn-link-hover-color: $link-hover-color !default;
$btn-link-disabled-color: $gray-600 !default;

// radius
$btn-border-radius: $border-radius !default;
$btn-border-radius-lg: $border-radius-lg !default;
$btn-border-radius-sm: $border-radius-sm !default;

$btn-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out !default;

//submenu
$submenu-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);


// -------------------------Tabs基本属性-------------------------
$tabs-link-padding-y: 0.5rem;
$tabs-link-padding-x: 1rem;
$tabs-link-disabled-color: $disabled-selected-color;
$tabs-border-color: #dee2e6;
$tabs-border-width: 1px;
$tabs-border-radius: 0.25rem;
$tabs-link-hover-border-color: #e9ecef #e9ecef #dee2e6;
$tabs-link-hover-color: $primary;
$tabs-link-active-color: $primary;
$tabs-link-active-bg: $white;
$tabs-link-active-border-color: #dee2e6 #dee2e6 $white;
$tabs-content-margin: 1rem;

$width: 3vw;
$commaWidth: 0.5vw;
$gap: 0.2vw;
$dis: -0.2vw;
$secTop: $width + $gap;
$thirdTop: $width * 2 + $gap * 2;
$secLineTop: $width + $gap * 2;
$screenTop: $width * 4;
$numberMargin: 3vw;
$transformDistance: 50px;
$bgColor: rgba(255, 255, 255, 1);
$scale: 0.9;
$normalColor: #181919;
$lightColor: #34eabc;
$darkColor: #3c4444;
$lightShadow: 0 0 1vw #0bfdfd, inset 0 0 0.125vmin #0bfdfd;
$darkShadow: 0 0 1vw #425454;
$animTime: 10s;
